:root {
  --color-accent: white;
  --color-accent-2: rgba(255, 255, 255, 0.838);
  --color-accent-3: rgba(255, 255, 255, 0.728);
  --color-bg: black;
  --color-bg-2: rgb(31, 31, 31);
  --color-bg-3: rgb(52, 52, 52);

  --color-dark: #eb8a90;
  --color-light: #ffdf7d;
  --color-hightlight: #42e2b8;

  --mobile-size: 600px;
}

@font-face {
  font-family: "VictorMono";
  src: url("../public/fonts/VictorMono.ttf");
}

i {
  font-family: "VictorMono";
  color: var(--color-hightlight);
}

html,
body {
  font-family: monospace;
  max-width: var(--mobile-size);
  margin: auto;
  color: var(--color-accent-2);
  background-color: var(--color-bg-2);
  padding: 0.5rem;
  word-spacing: 0.5rem;
}
h1,
h2,
h3 {
  word-spacing: 0.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

td {
  padding: 0.5rem;
  border-top: 2px solid var(--color-dark);
}

/* th { */
/*   padding: 0.5rem; */
/*   border-top: 2px solid var(--color-light); */
/* } */

* {
  box-sizing: border-box;
}
